@model Westeros.Ranking.Data.Model.Dieta

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dieta</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DietaId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DietaId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IloscOdwiedzin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IloscOdwiedzin)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
