@model IEnumerable<Westeros.Ranking.Data.Model.Komentarz>

@{
    ViewData["Title"] = "KomentarzeView";
}

<h2>KomentarzeView</h2>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tekst)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nick)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tekst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nick)
            </td>
        </tr>
    }
    </tbody>
</table>