@model Westeros.Diet.Data.Model.Entry

@{
    ViewData["Title"] = "Delete entry";
}

<h2>Delete entry</h2>

<h3>Are you sure you want to delete this entry?</h3>
<div>
    <h4>Entry</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Calories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Calories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Proteins)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Proteins)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Carbohydrates)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carbohydrates)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fats)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fats)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
