@model IEnumerable<Westeros.Recipes.Data.Model.Recipe>

@{
    ViewData["Title"] = "Index";
    

}
<div class="container" style="padding-top:1vh">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img src="@item.PhotoPath" alt="...">
                    <div class="caption">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                        <h4 style="display:inline">@Html.DisplayFor(modelItem => item.PrepTime) min</h4>
                        <h4 style="display:inline">@Html.DisplayFor(modelItem => item.Difficulty)</h4>
                        <button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#@item.Name">
                            More Info
                        </button>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="@item.Name" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">@Html.DisplayFor(modelItem => item.Name)</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-5 col-md-5">
                                    <img src="@item.PhotoPath" alt="..." />
                                </div>
                                <div class="col-sm-2 col-md-2"></div>
                                <div class="col-sm-5 col-md-5">
                                    <h5>List of ingredients</h5>
                                    <ul class="list-group">
                                        @foreach (var ing in item.RecipeIngredients)
                                        {
                                        <li class="list-group-item">
                                            @Html.Encode(ing.Ingredient.Name)
                                        </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <hr />
                            <div style="padding:4%">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Proteins</h3>
                                    </div>
                                    <div class="panel-body">
                                        @Html.DisplayFor(modelItem => item.Proteins) mg
                                    </div>
                                </div>

                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Carbohydrates</h3>
                                    </div>
                                    <div class="panel-body">
                                        @Html.DisplayFor(modelItem => item.Carbohydrates) mg
                                    </div>
                                </div>

                                <div class="panel panel-danger">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Fats</h3>
                                    </div>
                                    <div class="panel-body">
                                        @Html.DisplayFor(modelItem => item.Fats) mg
                                    </div>
                                </div>

                                <div class="panel panel-warning">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Calories</h3>
                                    </div>
                                    <div class="panel-body">
                                        @Html.DisplayFor(modelItem => item.Calories) kcal
                                    </div>
                                </div>


                            </div>

                            <div>

                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Instructions</h3>
                                    </div>
                                    <div class="panel-body">
                                       
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


